# git
.git
.gitignore
docker-compose.yml
README.md

# Rails
/.*
*.rbc
capybara-*.html
.rspec
log
tmp
db/production
public/assets
public/b
coverage/
.rvmrc
vendor/bundle
.bundle
Dockerfile
.gitlab-ci.yml
.rubocop.yml
.travis.yml
spec
test
