<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<footer class="footer pt-3" id="page-footer">
    <div class="container mt-2">
        <div class="row">
            <div class="col-2">
                <img src="https://audiencias.tjrr.jus.br/pix/logo-footerTJRR.png" alt="Tribunal de Justiça do Estado de Roraima" class="img-responsive atto_image_button_text-bottom" width="148" height="92">
            </div>
            <div class="col-7">
                <strong><a href="http://www.tjrr.jus.br/" title="Tribunal de Justiça do Estado de Roraima" target="_blank" rel="noreferrer noopener">Tribunal de Justiça do Estado de Roraima - TJRR</a></strong>
                <br>Praça do Centro Cívico, 296 - Centro, Boa Vista-RR
                <br>Central de Atendimento: (95) 3198-4141 - <a href="mailto:atendimento@tjrr.jus.br?Subject=Sistema%20de%20Videoconfer%C3%AAncia" title="E-mail para atendimento">atendimento@tjrr.jus.br</a>
                <div style="text-align:center;font-size:10px;">
                    <br><a href="https://audiencias.tjrr.jus.br/?redirect=0" title="Sistema de Videoconferência" target="_blank" class="fa fa-info-circle" rel="noreferrer noopener"> Sistema de Videoconferência - Versão: 2.01</a>
                    <br>© 2016-2019 - Desenvolvido por: <a href="http://sti.tjrr.jus.br/" title="Secretaria de Tecnologia da Informação" target="_blank" rel="noreferrer noopener">Secretaria de Tecnologia da Informação do TJRR</a>
                </div>
            </div>
            <div class="col-3">
                <table width="100%" cellspacing="20" cellpadding="10" border="0">
                    <tbody>
                        <tr>
                            <td style="text-align:center;"><a href="https://www.facebook.com/TJRORAIMA/" title="Facebook" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook-f"></i></a></td>
                            <td style="text-align:center;"><a href="https://www.youtube.com/channel/UCsv91923JTJfQVaxihDMvQg" title="YouTube" target="_blank" rel="noreferrer noopener"><i class="fab fa-youtube"></i></a></td>
                            <td style="text-align:center;"><a href="https://twitter.com/TJRoraima" title="Twitter" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a></td>
                            <td style="text-align:center;"><a href="http://api.whatsapp.com/send?1=pt_BR&amp;phone=5595984033518" title="WhatsApp" target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i></a></td>
                            <td style="text-align:center;"><a href="https://github.com/tjrr/" title="GitHub" target="_blank" rel="noreferrer noopener"><i class="fab fa-github"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</footer>

<%= render "shared/components/cookie_warning" %>